@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

:root {
  --black: #1f3754;
  --blue: rgb(219, 228, 237);
  --background: rgb(255, 238, 240);
}

nav {
  position: sticky;
  background-color: var(--black);
  width: 100%;
  height: 60px;
}

.App {
  font-family: 'Noto Sans', sans-serif;
  cursor: default;
  position: relative;
  background-color: var(--background);
  width: 100vw;
  display: block;
  height: 100vh;
  overflow-x: hidden;

  scrollbar-width: auto;
  scrollbar-color: white;
}

.App::-webkit-scrollbar {
  width: 16px;
}

.App::-webkit-scrollbar-track {
  background: transparent;
}

.App::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--background);
}

@media (min-width: 600px) {
  body {
    overflow: hidden;
  }
  .App {
    height: 90vh;
    border: 3px solid var(--black);
    border-radius: 10px;
    box-shadow: 5px 5px var(--black);
    width: 600px;
  }
}
